*{
  margin:0;
  padding:0;
}

html{
  font-size : 1.5rem;
}

a{
  text-decoration: none;
  color:#0D0D0D;
}
ul{
  list-style: none;

}

img{
  width:100%;
  max-width:100%;
  display: block; /* padding below the image */
}

.fixed-width{
  max-width:1200px;
  margin: 0 auto;
}

.page{
  display: none;
  min-height: 500px;
}

.active{
  display: block;
}
body{
  background: #f2f2f2;
}

#site-header{
  background-color: #010326;
  color: #f2f2f2;
}

div.site-name{
    padding: 0.5rem 0;
}

div.site-name ul{
  display: flex;
  justify-content:flex-end;
  flex-wrap: nowrap;
  position: relative;
}

div.site-name ul li{
  padding:10px;
  /* background: red; */
}

div.site-name ul li a{

  font-size:0.7rem;
  color:#f2f2f2;
  font-weight: bold;
  position: relative;

}

/* div.site-name ul li a::after{
  content:'';
  width:0px;
  height:5px;
  background: #f2f2f2;
  position: absolute;
  top:100%;
  left:0;
  transition: 0.5s;
}

div.site-name ul li a:hover  li a::after {
  width:100%;
} */

div.site-name ul li:first-child{
  border-right: 2px solid #f2f2f2;
}




nav .nav-container{
  background-color:white;
  box-shadow: 1px 1px 5px 1px #000;
  padding: 0.3rem 0;
}

.nav-container ul{
  display: flex;
  justify-content: space-evenly;
  padding:10px 20px;
  font-size: 1.2rem;
}

.nav-container ul li a{
  position:relative;
}

.nav-container ul li a:before{
  content:'';
  width:0px;
  height:5px;
  background: #FF5722;
  position: absolute;
  top:100%;
  left:0;
  transition: 0.5s;
}

.nav-container ul li:hover a:before{
  width: 100%;

}


.img-container img{
  max-height:700px;
}
main{
  font-size:1.2rem;
}
main header{
  background-color: #5bd99e;
  font-size:1.5rem;
  padding:0.3em 0;
}

.latest-news{
  font-size:1.5rem;
  padding:0.5em 0 ;
  position:relative;
}

.latest-news::after{
  content:'';
  position:absolute;
  left:0;
  bottom:0;
  width:190px;
  height:10px;
  background-color: red;
}

.content{
  display:flex;
  padding:1rem 0 ;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-box{
  position: relative;
  overflow: hidden;

}
.img-box img{
  transition: transform 2s;
}

.overlay-info{
  position: relative;
  width:100%;
  height: 100%;
}

.overlay{
  position:absolute;
  left:0;
  top: 0;
  width:100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  display: none;
  transition: all 0.5s;

}

.readmore{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:100px;
  height:50px;
  line-height: 50px;
  margin: 0 auto;
  background:#fff;
  font-size: 2rem;
  background:black;
  font-weight: bold;
  color:white;
}

.box:hover{
  cursor: pointer;
}
.box:hover .img-box img {
  transform:scale(1.2);
}


.box:hover .overlay{
  display:block;
}

.box{
  min-height:300px;

  width:calc(50% - 1rem);

  background:#f2f2f2;
  margin:0.5rem 0;
  box-sizing: border-box;
  position:relative;
  text-align: center;
}

.box p{
  padding:0.7rem;
  text-align: center;
}
.content{
  display:flex;
}


#info-service .box{
  background: #00BBD3;
  border-radius: 10%;
  box-shadow: 2px 2px 2px 2px #010101;
}

#info-service .box:hover .overlay{
    opacity: 0.7;
    border-radius:10%;
}

.box .icon{
  position: relative;
/* center the icon  */
  margin:0.8rem auto;
  font-size: 2rem;
  color:black;
  background:white;
  border-radius: 50%;
  width:100px;
  height:100px;
  box-shadow: 2px 2px 2px 2px #000;
}

.icon i{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}


.box .description{
  /* position:absolute;
  left:50%;
  bottom:0;
  transform: translate(-50%,0); */
}

.connect{
  position: relative;
  padding:1rem 0;
  width:250px;
}

.connect::after{
  content:'';
  position:absolute;
  left:0;
  bottom:0;
  width:inherit;
  height:10px;
  line-height: 10px;
  background-color: red;
}

.SM-content{
  margin-bottom: 0.6rem;
}

.SM-content ul{
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color:#000;
}

.SM-content ul li a{

  display: inline-block;
  background:white;
  padding:0.5rem;
  width:80px;
  height: 80px;
  line-height: 80px;
  border-radius: 30%;
  margin:0 1rem;
  text-align: center;
  overflow: hidden;
}

/* flip the icon */
.fa{
  position:relative;
  transition: 1s;
}
.SM-content ul li a:hover .fa{
  transform:rotateY(360deg);
  color:skyblue;
}



.SM-content ul li a{
  /* display: inline-block;
  width:100px;
  height: 100px;
  line-height: 100px; */
}

footer{
  background: #0487D9;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  padding:.8rem 0;
}
.footer ul li{
  padding:10px 0;
}

/* red bar for footer about  */
.footer ul .footer-about{
  width:70px;
  position:relative;
  padding-bottom: 15px;
}

.footer ul .footer-about::after{
  content:'';
  position:absolute;
  left:0;
  bottom:0;
  width:inherit;
  height:8px;
  line-height: 10px;
  background-color: red;
}
/* red bar for footer faq */
.footer ul .footer-faq{
  width:50px;
  position:relative;
  padding-bottom: 15px;
}


.footer ul .footer-faq::after{
  content:'';
  position:absolute;
  left:0;
  bottom:0;
  width:inherit;
  height:8px;
  line-height: 10px;
  background-color: red;
}

/* red bar for foot support  */
.footer ul .footer-support{
  width:90px;
  position:relative;
  padding-bottom: 15px;
}

.footer ul .footer-support::after{
  content:'';
  position:absolute;
  left:0;
  bottom:0;
  width:inherit;
  height:8px;
  line-height: 10px;
  background-color: red;
}


#aboutus header , #contactus header, #error header,#health header,
#environment header,#education header,#visa header, #register header{
  margin:1rem 0;
}

/* contact page */
#contact-form{
  box-sizing: border-box;
}
.row{
  width:100%;
  display: flex;
  flex-wrap: wrap;

}

.row .col{
  width:calc(50% - 1rem);
  box-sizing: border-box;
  margin: 1.1rem 0;
}

.row .col-1{
  width:100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

textarea{
  box-sizing: border-box;
  width: 100%;
  resize: none;
}

#contact-form input[type="submit"]{
  cursor: pointer;
}

.row  label{
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}


#contact-form input,
#contact-form textarea{
  width: 100%;
  border:2px solid #000;
  padding:0.8rem;
  font-size: 0.8rem;
  outline : none;
  font-weight: bold;
}

#fade{
  font-size: 1.5rem;
  text-align: center;
  background-color: #4CAF50;
  margin: 20px;
  display:none;

}


/* register page */

#register-form{
  position: relative;
  /* height:100vh; */
  /* background: red; */
  /* max-width:100%; */
}
fieldset{
  border: none;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin:1.5rem 0;
  padding:1.5rem 0;
  box-sizing: border-box;
  /* position: rela; */
  /* top:50%;
  left:50%;
  transform: translate(-50%,-50%); */

}


#progressbar{
  display:flex;
  justify-content: center;
  counter-reset: step;
  overflow:hidden;
}

#progressbar li{
  /* width: calc((100%/3)); */
  flex-grow: 1;
  /* width:33%; */
  text-transform: uppercase;
  position: relative;
  text-align: center;
}


#progressbar li::before{
  text-align: center;
  content: counter(step);
  counter-increment: step;
  width:30px;
  height: 30px;
  line-height: 30px;
  display:block;
  font-size: 16px;
  font-weight: bold;
  color:black;
  background-color: white;
  border-radius: 5px;
  margin:0 auto;
}

#progressbar li::after{
  content: '';
  width: 100%;
  height: 2px;
  background:green;
  position: absolute;
  left: -51%;
  top:15px;
  z-index: -1;
}

#progressbar li:first-child::after{
  content: none;
}

#progressbar .current-progress::before, #progressbar .current-progress::after{
  background-color: green;
  color:white;
}

.col-8{
width: 80%;
box-sizing: border-box;
margin:10px auto;
}

.col-5{
  width:48%;
  box-sizing: border-box;
  margin: 10px auto;
}

#register-form fieldset:not(:first-of-type){
  display: none;
}

#register-form input{
  width:100%;
  outline:none;
  border:2px solid black;
  font-size:0.8rem;
  padding:0.6rem;
  box-sizing: border-box;
}


#register-form input[type="button"]{
  background-color: #4CAF50;
  cursor: pointer;
}

#register-form input[type="submit"]{
  background-color: #FF5722;
  cursor: pointer;
  color:black;
}
#register-form label{
  text-align:left;
}

#after-submit{
  font-size: 1.5rem;
  text-align: center;
  background-color: #4CAF50;
  margin: 20px;
  display:none;

}
